.Article {
    width: 90%;
    padding: 16px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: #333333
}

.Article h4, h5 {
    margin: 0;
}

.Article p {
    margin:0.5rem 0;
}

@media(min-width: 769px) {
    .Article {
        width: 20%;
    }
}