.SearchBar_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

.SearchBar_container input {
    width: 50%;
    height: 30px;
    max-height: 30px;
    font-size: 20px;
    text-align: center;
    font-family: calibri;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.SearchBar_container button {
    position: absolute;
    right: 5.5%;
    font-family: calibri;
    color: #ffffff;
    background-color: #5514b4;
    border: none;
    cursor: pointer;
    height: 34px;
    max-height: 34px;
    width: 55px;
    border-radius: 3px;
    border-right: 4px solid #410B91;
    border-bottom: 4px solid #410B91;
}


.SearchBar_container button:disabled {
    background-color: #410B91;
    color:  lightgray
}

.SearchBar_container button:active {
    border-left: 4px solid #7E33EC;
    border-top: 4px solid #7E33EC;
    border-right: none;
    border-bottom: none;
}

@media(min-width: 769px) {
    .SearchBar_container input {
        width: 20%;
    }
}

